<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="topnav">
            <a href="#">Lugares</a>
            <a href="#">Ranking</a>
            <a href="#">Sorteio</a>
        </div>
        <div class="main">
            <div class="cards-list">
                <div class="card">
                    <div class="card_image">
                        <img src="Assets/chealsea.jpg">
                    </div>
                    <div class="card_title title-white">
                        <p>Chealsea Café</p>
                    </div>
                </div>
            </div>
        </body>
    </html>
